*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#Eclipse random stuff
*.settings
*.properties

.idea
.idea/
lib/
bin/
local.properties
.classpath
.settings/
.loadpath
MuhaVision.iml

out/production/MuhaVision/META-INF/MANIFEST.MF

src/META-INF/MANIFEST.MF
